# streamlit>=1.32.0
streamlit==1.39.0
pandas
PyPDF2
openpyxl
faiss-cpu
transformers
sentence-transformers
langchain
langchain-community
python-docx
langchain-huggingface
hf_xet
llama-index-core==0.10.30
#llama-index==0.10.55
llama-index-llms-openai
llama-index-embeddings-openai
openai>=1.3.5
llama-index-readers-file
#llama-index-llms-openai
#llama-index-llms-huggingface
#llama-index-embeddings-huggingface
accelerate
torch 
docx2txt
selenium
webdriver-manager

#openai>=1.3.5
#llama-index==0.10.55
#llama-index-llms-openai
#llama-index-embeddings-openai
numpy
#pandas
#python-docx
pdfminer.six
pillow
#faiss-cpu
tqdm
requests
unstructured[pdf]
tenacity
beautifulsoup4







